label,
input {
  display: block;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

input[type="number"], select {
  border: 1px solid #949494;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;

  &:focus-visible {
    border: none;
    outline: #24005294 solid 3px;
  }
}