<h5>Parâmetros opcionais</h5>
<hr>
<form>
    <div class="col-md-auto mb-2">
        <label for="idade" class="form-label">Qual a idade da pessoa?</label>
        <select class="form-select" id="selectIdade">
            <option selected>Selecione</option>
            <option *ngFor="let idade of idades" [value]="idade">{{ idade }}</option>
        </select>
    </div>
    <div class="col-md-auto mb-2">
        <label class="form-label">Qual estado?</label>
        <select class="form-select" aria-label="Default select example"
            (change)="getSelectCurrentValue(estadoSelecionado.value)" #estadoSelecionado id="selectEstado">
            <option selected value="-1">Selecione</option>
            <option *ngFor="let estado of estados$ | async; index as i" [value]="i">{{ estado }}</option>
        </select>
    </div>
    <div class="col-md-auto mb-2">
        <label class="form-label">Qual cidade?</label>
        <select class="form-select" aria-label="Default select example" id="selectCidade">
            <option selected>Selecione</option>
            <option *ngFor="let cidade of cidades$ | async; index as i" [value]="i">{{ cidade }}</option>
        </select>
    </div>
    <div class="col-md-auto mb-2">
        <label class="form-label">Gerar com pontuação?</label>
        <div class="d-flex">
            <input class="form-check-input me-1" type="radio" name="gerarComPonto" id="comPonto" checked>
            <label class="form-check-label" for="comPonto">Sim</label>
            <input class="form-check-input ms-3 me-1" type="radio" name="gerarComPonto" id="semPonto">
            <label class="form-check-label" for="semPonto">Não</label>
        </div>
    </div>
    <div class="col-md-auto">
        <label class="form-label">Gerar quantas pessoas?</label>
        <input type="number" class="form-control" id="quantidade" value="1" min="1" max="10" placeholder="Máximo 10">
    </div>
    <div class="col-md-auto">
        <input type="button" value="Enviar" (click)="formSubmit()" class=" btn btn-primary my-3 w-100">
    </div>
</form>