body {
	margin: auto;
}

p {
	border-bottom: 1px solid;
	padding: 5px 0px;
	margin: 10px;
	font-size: 120%;
	color: black;
	font-weight: 500;
}

.row {
	align-items: flex-end;
	justify-content: center;
}

.row label {
	font-weight: 500;
	color: black;
}

.row.formulario{
    justify-content: start;
}

.row.formulario label{
    margin-top: 15px;
}

.opcoes {
	border: 1px solid black;
	padding: 25px 0;
}

.cabecalhoOptions {
	max-width: 1024px;
	border-radius: 5px;
	background-color: rgba(184, 184, 184, 0.5);
	margin: auto;
	padding: 20px;
}

.col-2-idade {
	width: 12%;
}

.col-2-pontuacao {
	width: 20%;
}

.col-2-quantidade {
	width: 12%;
}

.col-4-endereco {
	width: 38%;
}

.col-12-resultados {
	padding: 10px 10px 0px 10px;
}

#uf {
	width: 25%;
}

#cidade {
	width: 70%;
	margin-left: 10px;
}

#uf,
#cidade {
	display: inline;
}

.form-label {
	display: block;
}

#button {
	width: 100%;
}

#resultJson {
	height: 400px;
	width: 100%;
	margin-top: 1px;
	padding: 10px 10px;
	resize: none;
}

.col-9 {
	margin: 20px 0px;
}

.colWidth {
	width: 10%;
}

.nav-tabs .nav-link.active {
	background-color: rgba(5, 35, 13, 1);
	color: #fff;
	border: 1px solid rgba(5, 35, 13, 1);
    
}

.nav-tabs .nav-link {
	background-color: #fff;
	color: rgba(5, 35, 13, 1);
	border: 1px solid rgba(5, 35, 13, 1);
    margin-right: 5px;
}

.nav-tabs .nav-link:hover {
	font-weight: 600;
    border: 1px solid rgba(5, 35, 13, 1);
}

.nav-tabs {
	border-bottom: 1px solid rgba(5, 35, 13, 1);
}

.tab-content {
	border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	padding: 5px;  
}