<form [formGroup]="optionsForm" class="row mx-3">
  <div class="col-4">
    <p>1. Gerar com máscara</p>
    <div class="row mt-2">
      <div class="col-4">
        <input
          type="radio"
          name="withMask"
          id="with-mask"
          [value]="true"
          formControlName="withMask"
        />
        <label for="with-mask">Sim</label>
      </div>
      <div class="col-8">
        <input
          type="radio"
          name="withMask"
          id="without-mask"
          [value]="false"
          formControlName="withMask"
        />
        <label for="without-mask">Não</label>
      </div>
    </div>
  </div>

  <div class="col-12 mt-4">
    <dg-button
      [loading]="isLoading"
      label="Gerar CNPJ"
      icon="fa-solid fa-rotate"
      (dg-click)="onChosenOptions()"
    >
    </dg-button>
  </div>
</form>
